# TIPOS DE DATOS BÁSICOS:

En Python, todo es un objeto, incluidos los valores más simples. Los tipos de datos básicos incluyen:<br>

- int (enteros): números sin decimales.<br>
Ej: 4, -12, 0

- float (decimales): números con parte decimal.<br>
Ej: 3.14, -0.5, 2.0<br>

- str (cadenas): texto, encerrado entre comillas simples o dobles.<br>
Ej: "hola", 'mundo'<br>

- bool (booleanos): valores lógicos, True o False.<br>
Se usan en comparaciones y estructuras de control.<br>

Puedes comprobar el tipo de cualquier valor con type()

In [1]:
type(42)

int

In [2]:
# Puedes usar int() para convertir otro tipo de datos en int
int("42")

42

In [3]:
type(1.5)

float

In [4]:
float("42.7")

42.7

In [5]:
type("Hello, World!")

str

In [6]:
name = "Adrian"

f"Hello, {name}!"

'Hello, Adrian!'

#### MÉTODOS CON STRING:
- `.capitalize()` -> Converts the first character to uppercase and the rest to lowercase
- `.casefold()` -> Converts the string into lowercase
- `.center(width[, fillchar])` -> Centers the string between width using fillchar
- `.encode(encoding, errors)` -> Encodes the string using the specified encoding
- `.expandtabs(tabsize)` -> Replaces tab characters with spaces according to tabsize
- `.format(*args, **kwargs)` -> Interpolates and formats the specified values
- `.format_map(mapping)` ->	Interpolates and formats the specified values using a dictionary
- `.join(iterable)` ->	Joins the items in an iterable with the string as a separator
- `.ljust(width[, fillchar])` -> Returns a left-justified version of the string
- `.rjust(width[, fillchar])` -> Returns a right-justified version of the string
- `.lower()` ->	Converts the string into lowercase
- `.strip([chars])` ->	Trims the string by removing chars from the beginning and end
- `.lstrip([chars])` ->	Trims the string by removing chars from the beginning
- `.rstrip([chars])` ->	Trims the string by removing chars from the end
- `.removeprefix(prefix, /)` ->	Removes prefix from the beginning of the string
- `.removesuffix(suffix, /)` ->	Removes suffix from the end of the string
- `.replace(old, new [, count])` ->	Returns a string where the old substring is replaced with new
- `.swapcase()` -> Converts lowercase letters to uppercase letters and vice versa
- `.split()` -> Split a string into a list of individual strings using a given character as a separator.
- `.title()`-> Converts the first character of each word to uppercase and the rest to lowercase
- `.upper()`-> Converts a string into uppercase
- `.zfill(width)` -> Fills the string with a specified number of zeroes at the beginning

In [7]:
type(True)

bool

# PRINT FUNCTION:

In [8]:
print("Please wait while the program is loading...")

Please wait while the program is loading...

In [9]:
message= "Please wait while the program is loading..."
print(message)

Please wait while the program is loading...

In [10]:
"My age is " + str(42)

'My age is 42'

# OPERADORES BÁSICOS:
- Suma: `+`
- Resta: `-`
- Multiplicación: `*`
- División: `/`
- División entera: `//`
- Módulo (resto): `%`
- Exponente: `**`

`/` siempre devuelve un `float`, incluso si la división es exacta.<br>
`//` descarta los decimales.<br>
`%` es muy útil para si un número es par o múltiplo de otro.