# LISTAS - TUPLAS

### LISTAS:
Las listas son elementos mutables, permitiendo modificar su contenido.<br>
Puedes crear una lista desde una tupla utilizando el constructor `list()`, que convierte una tupla en una lista mutable.

In [52]:
users = ['Dave' , 'John', 'Sara']
data = ['Adrian', 25, True]
emptylist = []

print("Dave" in users) # Verifica si el item está en la lista
print ("Dave" in data)

True
False

In [59]:
digits = list(range(10)) # Se pueden crear listas de esta forma también. Con range creas una lista hasta el número 9.
print(digits)
print(digits [0:4:2]) # INICIO - FIN - PASO   Imprime los dígitos desde el primer índice hasta el 4, saltando de dos en dos

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 2]

In [60]:
even_digits = [number for number in range(1,10) if number % 2 == 0] # También se puede crear una lista mediante list comprehensions.
print(even_digits)

[2, 4, 6, 8]

In [2]:
print(users[0]) # Imprimimos mediante el índice
print(users[-1])

Dave
Sara

In [3]:
print(users.index('Sara')) # Nos devuelve el índice del item

2

In [4]:
print(users[0:2]) # Nos devuelve los items desde la primera posición hasta la posición de índice 2 (sin ser incluido)
print(users[1:]) # Nos devuelve todos los items desde la segunda posición hasta el final de la lista
print(users[-3:-1]) # No incluye la posición -1

['Dave', 'John']
['John', 'Sara']
['Dave', 'John']

In [5]:
print(len(users)) # Nos devuelve la cantidad de items que hay en la lista
print(len(data))

3
3

In [6]:
users.append('Elsa') # Añade Elsa a lista llamada Users
print(users)

['Dave', 'John', 'Sara', 'Elsa']

In [7]:
users += ['Jason'] # Otra forma de añadir un item a la lista, pero tienes que asegurarte que es una lista, para que no añada letra por letra a la lista
print(users)

['Dave', 'John', 'Sara', 'Elsa', 'Jason']

In [8]:
users.extend(['Robert', 'Jimmy']) # Otra forma de añadir un item a la lista
print(users)

['Dave', 'John', 'Sara', 'Elsa', 'Jason', 'Robert', 'Jimmy']

In [9]:
users.extend(emptylist) # Sirve para extender una lista con otra
print(users)

['Dave', 'John', 'Sara', 'Elsa', 'Jason', 'Robert', 'Jimmy']

In [10]:
users.insert(0, 'Bob') # Añade el item a la posición de índice escrita.
print(users)

['Bob', 'Dave', 'John', 'Sara', 'Elsa', 'Jason', 'Robert', 'Jimmy']

In [11]:
users[2:2] = ['Eddie', 'Alex'] # Si pones los dos números igual, te introduce los items a partir de ese número sin borrar ningún contenido de la lista previamente añadido.
print(users)

['Bob', 'Dave', 'Eddie', 'Alex', 'John', 'Sara', 'Elsa', 'Jason', 'Robert', 'Jimmy']

In [12]:
users[1:3] = ['Robert', 'JP'] # Si pones un rango de números, te introduce los nombres en ese rango, borrando todo el contenido de la lista previamente que este dentro de ese rango, sea mayor o no que los items introducidos.
print(users)

['Bob', 'Robert', 'JP', 'Alex', 'John', 'Sara', 'Elsa', 'Jason', 'Robert', 'Jimmy']

In [13]:
users.remove('Bob')
print(users)

['Robert', 'JP', 'Alex', 'John', 'Sara', 'Elsa', 'Jason', 'Robert', 'Jimmy']

In [14]:
print(users.pop()) # Elimina el último valor de la lista y lo devuelve

Jimmy

In [15]:
del users[0] # Eliminamos el item que está contenido en ese índice
print(users)

['JP', 'Alex', 'John', 'Sara', 'Elsa', 'Jason', 'Robert']

In [16]:
#del data
data.clear() # Si queremos borrar todo el contenido de una lista y que no nos de error al dejarla vacía, debemos usar este método
print(data)

[]

In [17]:
users.sort() # Si tenemos distintos tipos de variables nos dará error, ya que no puede comparar un string con un integer
print(users)

['Alex', 'Elsa', 'JP', 'Jason', 'John', 'Robert', 'Sara']

In [18]:
users[1:2] = ['dave'] # Si no lo pones en brackets te coloca cada letra y te la ordena. Al estar en minúsculas te lo coloca detrás de todos los ítems en mayúsculas
users.sort()
print(users)

['Alex', 'JP', 'Jason', 'John', 'Robert', 'Sara', 'dave']

In [19]:
users.sort(key=str.lower) # Con este método ignora las mayúsculas y minúsculas, y las ordena estrictamente por orden alfabético.
print(users)

['Alex', 'dave', 'Jason', 'John', 'JP', 'Robert', 'Sara']

In [26]:
nums=[4,42,78,1,5] # Te cambia el orden de los elementos introducidos, dándole la vuelta completamente.
nums.reverse()
print(nums)

[5, 1, 78, 42, 4]

In [23]:
nums.sort(reverse=True) # Este método te lo ordena de mayor a menor, modificando la lista
print(nums)

[78, 42, 5, 4, 1]

In [28]:
print(sorted(nums, reverse=True)) # Es similar almétodo de arriba, solo que no modifica la lista
print(nums)

[78, 42, 5, 4, 1]
[5, 1, 78, 42, 4]

In [32]:
numscopy = nums.copy() # Todos estos métodos sirven para hacer una copia de la lista
mynums = list(nums)
mycopy = nums[:]

print(numscopy)
print(mynums)
mycopy.sort()
print(mycopy)
print(nums)

[5, 1, 78, 42, 4]
[5, 1, 78, 42, 4]
[1, 4, 5, 42, 78]
[5, 1, 78, 42, 4]

In [34]:
print(type(nums)) # Con esto ves el tipo de dato que es, que es una lista

<class 'list'>

In [36]:
mylist = list([1, "Neil", True])
print(mylist)

[1, 'Neil', True]

### TUPLAS:
Las tuplas son un elemento inmutable, lo que quiere decir que no pueden modificarse después de ser creadas.<br>
Siempre se va a preferir utilizar tuplas cuando se necesita una secuencia inmutable, como una función que devuelva valores o datos constantes.<br>
Suelen utilizarse en escenarios donde los datos deben permanecer inalterables.

In [46]:
mytuple = tuple(('Dave', 42, True)) # Ambas formas sirve para crear tuplas. Las tuplas son inmutables.
anothertuple = (1,4,2,8,2,2)

print(mytuple)
print(type(mytuple))
print(anothertuple)
print(type(anothertuple))

('Dave', 42, True)
<class 'tuple'>
(1, 4, 2, 8, 2, 2)
<class 'tuple'>

In [47]:
newlist = list(mytuple) # Para añadir un elemento a la tupla se puede hacer transformando la tupla en lista, usando append, y volviendo a transformar la lista en tupla.
newlist.append('Neil')
newtuple = tuple(newlist)
print(newtuple)

('Dave', 42, True, 'Neil')

In [48]:
(one, two, *hey) = anothertuple
print(one)
print(two)
print(hey)

1
4
[2, 8, 2, 2]

In [49]:
(one, *two, hey) = anothertuple
print(one)
print(two)
print(hey)

1
[4, 2, 8, 2]
2

In [51]:
print(anothertuple.count(2)) # Devuelve el número de veces que aparece un item en una tupla.

3