# BUCLE WHILE:

Es un bucle que se repite mientras una condición sea verdadera.<br>
Es utilizado cuando se tiene que iterar un número desconocido de veces, lo que es útil cuando el número de iteraciones dependen de una condición dada.

In [12]:
cont = 0
while cont < 5:
    print(f'Contador:, {cont}')
    cont+=1

Contador:, 0
Contador:, 1
Contador:, 2
Contador:, 3
Contador:, 4

In [21]:
num = 6
while num > 0:
    num -= 1
    if num == 2:
        break
    print(num)
print(f'Fin de bucle')

5
4
3
Fin de bucle

In [20]:
num = 6
while num > 0:
    num -= 1
    if num == 2:
        continue
    print(num)
print(f'Fin de bucle')

5
4
3
1
0
Fin de bucle

# BUCLE FOR:

Es un bucle que itera sobre rangos o colecciones.<br>
Es utilizado cuando se itera un número conocido de veces, lo que es común cuando estás procesando una colección de datos con un número específico de ítems.<br>
Se pueden iterar tanto número, como cadenas o listas.

In [15]:
for i in range(5):
    print(f'i vale, {i}')

i vale, 0
i vale, 1
i vale, 2
i vale, 3
i vale, 4

In [19]:
for letra in "Python":
    print(letra)

P
y
t
h
o
n

In [17]:
points = [(1,4), (3,6), (7,3)]

for x, y in points:
    print(f'{x = } and {y = }')

x = 1 and y = 4
x = 3 and y = 6
x = 7 and y = 3

In [22]:
person = ("Adrian", 25, "Data Analyst", "Spain")

for field in person:
    print(field)

Adrian
25
Data Analyst
Spain

In [23]:
students = {
    "Adrian": 89.5,
    "Nerea": 96.0,
    "Andrei": 72.3,
    "Mario": 85.2,
    "Rodrigo": 86.9,
}

In [24]:
for student in students:
    print(student)

Adrian
Nerea
Andrei
Mario
Rodrigo

In [25]:
for student in students:
    print(f'{student} -> {students[student]}')

Adrian -> 89.5
Nerea -> 96.0
Andrei -> 72.3
Mario -> 85.2
Rodrigo -> 86.9

In [27]:
teams = {
    "Boston": "Celtics",
    "Denver": "Nuggets",
    "Oklahoma": "City Thunder",
    "Minnesota": "Timberwolves",
    "Sacramento": "Kings",
    "Dallas": "Mavericks",
}

for team in teams.values():
    print(team)

Celtics
Nuggets
City Thunder
Timberwolves
Kings
Mavericks

In [28]:
for place, team in teams.items():
    print(f'{place} -> {team}')

Boston -> Celtics
Denver -> Nuggets
Oklahoma -> City Thunder
Minnesota -> Timberwolves
Sacramento -> Kings
Dallas -> Mavericks

In [33]:
numbers = [1,3,5,7,9]
target = 5

for number in numbers:
    print(f'Processing {number}...')
    if number == target:
        print(f'Target found {target}!')
        break

Processing 1...
Processing 3...
Processing 5...
Target found 5!

In [34]:
numbers = [1,2,3,4,5,6]

for number in numbers:
    print(f'{number = }')
    if number % 2 != 0:
        continue
    print(f'{number} es par!')

number = 1
number = 2
2 es par!
number = 3
number = 4
4 es par!
number = 5
number = 6
6 es par!

In [35]:
numbers = [1,3,5,7,9]
target = 42

for number in numbers:
    print(f'Processing {number}...')
    if number == target:
        print(f'Target found {target}!')
        break
else:
    print(f'Target not found {target}')

Processing 1...
Processing 3...
Processing 5...
Processing 7...
Processing 9...
Target not found 42

In [36]:
for number in range (1,11):
    for product in range (number, number*11, number):
        print(f'{product:>4d}', end="")
    print()

   1   2   3   4   5   6   7   8   9  10
   2   4   6   8  10  12  14  16  18  20
   3   6   9  12  15  18  21  24  27  30
   4   8  12  16  20  24  28  32  36  40
   5  10  15  20  25  30  35  40  45  50
   6  12  18  24  30  36  42  48  54  60
   7  14  21  28  35  42  49  56  63  70
   8  16  24  32  40  48  56  64  72  80
   9  18  27  36  45  54  63  72  81  90
  10  20  30  40  50  60  70  80  90 100

# FUNCIÓN RANGE():

La función es range (start, stop, step).

In [40]:
for i in range(5):
    print(i)

0
1
2
3
4

In [41]:
for i in range(2,6):
    print(i)

2
3
4
5

In [42]:
for i in range(10,0,-2):
    print(i)

10
8
6
4
2